footer {
  border-top: 1px solid #353535;
}
footer h1 {
  font-size: 4rem;
  font-family: Montserrat;
  color: #fdfbe2;

  margin-left: 6.3vw;
  font-weight: 600;
}
footer h2 {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 500;
  color: #faf9ef;
  margin-top: 0px;
  margin-left: 0px;
}
footer h1::after {
  content: "";
  width: 200px;
  height: 4px;
  display: block;
  background-color: #e0e277;
  margin-left: 5px;
}
.roda-grid {
  display: grid;
  grid-template-columns: 40vw 40vw;
  justify-content: space-evenly;
}
.roda-form {
  font-family: montserrat;
  text-transform: uppercase;
  color: #c6c7b3;
}
.roda-form label {
  display: inline-block;
  margin-bottom: 10px;
}
.text {
  display: inline-block;
  margin-bottom: 20px;
  background-color: #454537;
  border-style: none;
  border-radius: 5px;
  width: 300px;
  height: 20px;
}
.textarea {
  display: inline-block;
  margin-bottom: 20px;
  background-color: #454537;
  border-style: none;
  border-radius: 5px;
  width: 300px;
  height: 150px;
}
.sub {
  font-family: Montserrat;
  font-weight: 700;
  border: none;
  background-color: #c6c7b3;
  border-radius: 5px;
  padding: 5px 10px;
  color: #454537;
  margin-bottom: 30px;
}
.roda-redes {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 1.1rem;
  color: #adad93;
}
