.formacao {
  margin-top: 100px;
  margin-left: 6.3vw;
}
.formacao h1 {
  font-size: 4rem;
  font-family: Montserrat;
  margin-top: 40px;
  color: #fdfbe2;
}
.formacao h1::after {
  content: "";
  width: 200px;
  height: 4px;
  display: block;
  background-color: #e0e277;
  margin-left: 5px;
}
.forma-container {
  display: grid;
  grid-template-columns: 60vw 20vw;
  row-gap: 20px;
}

.forma-loc {
  font-family: montserrat;
  font-size: 1.5rem;
  font-weight: 500;
  color: #faf9ef;
}
.forma-desc {
  font-family: montserrat;
  font-size: 1rem;
  font-weight: 400;
  color: #c6c7b3;
}
.forma-con {
  font-family: montserrat;
  font-size: 1rem;
  font-weight: 600;
  justify-self: end;
  align-self: center;
  color: #c6c7b3;
}

.form-sep::before {
  content: "";
  width: 100vw;
  height: 1px;
  display: block;
  position: relative;
  left: -100px;
  background-color: #353535;
}
