#habilidades h1 {
  font-size: 4rem;
  font-family: Montserrat;
  margin-top: 40px;
  color: #fdfbe2;
}
#habilidades h1::after {
  content: "";
  width: 200px;
  height: 4px;
  display: block;
  background-color: #e0e277;
  margin-left: 5px;
}
.hab-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: -40px;
}
.intro-hab::after {
  content: "";
  width: 80vw;
  height: 1px;
  position: relative;
  display: inline-block;
  top: 20px;
  right: -150px;
  background-color: #e0e277;
}
.hab-itens img {
  max-width: 70px;
}
.hab-itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hab-itens p {
  font-family: lato;
  font-size: 1rem;
  font-weight: 600;
  color: #c6c7b3;
}
