.introducao {
  margin-top: 50px;
}
.introducao p {
  margin: 5px 0px;
}
.intro1 {
  font-family: Montserrat;
  font-weight: 600;
  color: #faf9ef;
  font-size: 1.2rem;
}
.intro2 {
  font-family: Montserrat;
  font-weight: 600;
  color: #faf9ef;
  font-size: 2rem;
  padding-bottom: 10px;
}
.intro3 {
  font-family: lato;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 550px;
  color: #c6c7b3;
  padding-bottom: 30px;
}
.intro-link {
  font-family: lato;
  color: #e0e277;
  padding: 6px 15px;
  border: 1px solid #e0e277;
  border-radius: 20px;
  margin-right: 40px;
}

.intro-link2 {
  font-family: lato;
  color: #26261f;
  padding: 6px 15px;
  background-color: #e0e277;
  border-radius: 20px;
  margin-right: 50px;
}
.introducao::after {
  content: "";
  width: 1px;
  height: 350px;
  display: inline-block;
  position: absolute;
  top: 75px;
  right: 50vw;
  background-color: #e0e277;
}
