.proj-grid {
  display: grid;
  grid-template-columns: 40vw 40vw;
  justify-content: space-evenly;
  margin-top: 50px;
}
.proj-grid h1 {
  font-size: 4rem;
  font-family: Montserrat;
  color: #fdfbe2;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -5px;
  font-weight: 600;
}
.proj-grid h1::after {
  content: "";
  width: 200px;
  height: 4px;
  display: block;
  background-color: #e0e277;
  margin-left: 5px;
}
.proj-grid h2 {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 500;
  color: #faf9ef;
}
.proj-grid p {
  margin-top: 60px;
  font-family: lato;
  font-size: 1.2rem;
  font-weight: 500;
  color: #c6c7b3;
  letter-spacing: 1px;
}
.proj-img {
  display: grid;
  grid-template-columns: 15vw 15vw;
  gap: 4vw;
  margin-top: 15px;
  position: relative;
}
.proj-img::after {
  content: "";
  width: 1px;
  height: 550px;
  display: inline-block;
  position: absolute;
  top: -90px;
  left: 40vw;
  background-color: #e0e277;
}
.projetos {
  margin-top: 50px;
  margin-bottom: 125px;
}
.projetos::before {
  content: "";
  width: 80vw;
  height: 1px;
  position: relative;
  display: inline-block;
  top: 20px;
  left: 10px;
  background-color: #e0e277;
}
